pip install torch torchvision torchaudio  
pip install numpy pandas scipy matplotlib
pip install tensorflow
pip install librosa soundfile
pip install g2p_en epitran
pip install django djangorestframework
pip install fuzzywuzzy python-Levenshtein
pip install tensorboard tqdm
 brew install ffmpeg
 pip install pydub